.App {
    padding-left: 30px;  
}

/* Form */
.App form {
    width: 600px;

    display: flex;
    flex-direction: column;
    align-content: flex-start;  

    margin-bottom: 30px;
}

.App form input {
    margin-bottom: 20px;
    padding: 5px;
}

.App form textarea {
    height: 80px;
    resize: none;

    margin-bottom: 20px;
    padding: 5px;
}

.App form button {
    padding: 10px;
}

/* List */
.App .list th, td {
    width: 150px;
    text-align: center;
    
    padding: 10px;
    box-sizing: border-box;
}